# ComplyLight Portal

This is an Angular SPA project implement user-facing UIs for working with the ComplyLight server, providing FHIR Consent management, modular data segmentation, redaction, and rule editing.

# Related Projects
- ../server - NodeJS API exposing capabilities of the core library via CDS-Hooks and REST APIs
- ../core - ESM module implementing data segmentation functions and providing common code for client applications.


# Technical

- This is an Angular project.
- Use Angular control flow statements instead of the deprecated ngIf and ngFor directives.
- Use Angular signals and computed for responsive change detection.
- Use Bootstrap for layout and SCSS for stylesheets.
- Use TypeScript for code.
- Use the @types/fhir library for FHIR types. Use FHIR R5 definitions in "fhir/r5" unless otherwise requested.
- When creating new .ts files, the first line should be "// Author: Preston Lee" followed by an empty line.
- Assuming `npm run start` is already being run. Avoid starting server process. If you do don't forget to kill them.
- Don't use deprecated APIs when possible.
- Rely on Bootstrap styling. Avoid customizing components with custom CSS and new color schemes.
- Ad "id" attributes to core UI and navigational controls to make tests less brittle.
- Never use setTimeout for state management purposes
- When creating components, split HTML and CSS into their own .html and .scss files, respectively.

# SCSS and CSS
- Avoid duplicating hardcoded color values. Use constants and reuse them when possible.
- Don't patch over specific visual problems when you can fix the underlying issue instead.
- Use SCSS @use and variable references instead of deprecated @import statements and CSS "var"

# Documentation

- Be concise and clear
- Avoid using emojis and unprofessional language
- Avoid redundant content

# Git
- Don't automatically make git commits or write git transactions without my permission.
 