<div *ngIf="categorySettings">
    @for (category of categorySettings.allCategories(); track category.act_code) {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" [id]="'medical_' + category.act_code.toLowerCase() + '-' + randomId"
                [(ngModel)]="category.enabled" (change)="updateCategorySetting()" required />
            <label class="form-check-label" role="button" [for]="'medical_' + category.act_code.toLowerCase() + '-' + randomId">{{ category.name }}</label>
            <br />
            <small *ngIf="settings().settings.show_descriptions" class="form-text">{{ category.description }}</small>
        </div>
    }
</div>