<div *ngIf="categorySettings">
    @for (purpose of categorySettings.allPurposes(); track purpose.act_code) {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" [id]="'purpose_' + purpose.act_code.toLowerCase() + '-' + randomId"
                [(ngModel)]="purpose.enabled" (change)="updatePurposeSetting()" required />
            <label class="form-check-label" role="button" [for]="'purpose_' + purpose.act_code.toLowerCase() + '-' + randomId">{{ purpose.name }}</label>
            <br />
            <small *ngIf="settings().settings.show_descriptions" class="form-text">{{ purpose.description }}</small>
        </div>
    }
</div>